[global]
security = user
workgroup = WORKGROUP
server string = Samba
guest account = nobody
map to guest = Bad User



# имя общей папки, которое увидят пользователи, подключившись к серверу
[{{ locate }}]
# комментарий для удобства
comment = {{ locate }}
# путь на сервере, где будут храниться данные
path = /{{ locate }}
browseable = Yes
guest ok = Yes
#  для общего доступа. Установите в yes, если хотите, чтобы все могли работать с ресурсом
public = yes
# разрешает запись на сетевой ресурс
writeable = Yes
# только для чтения. Установите no, если у пользователей должна быть возможность создавать папки и файлы
read only = no
# разрешает доступ к папке гостевой учетной записи
guest ok = yes
$ при создании новой папки или файла назначаются полные права
create mask = 0777
directory mask = 0777